body{
    margin: 0;
    padding: 0;
    background-color: rgb(233, 232, 232);
}
.container {
    margin: auto;
    border: 1px solid;
    border-color:transparent;

    @media (min-width: 576px) {
        max-width: 540px;
    } 

    @media (max-width: 576px) { 
        max-width: 100%;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
    }

    &.no-padding {
        padding: 0;
    }
  }
  header {
    background-color: rgb(197, 197, 197);
    width: -webkit-fill-available;
    
    .navbar-contents{
        .logo{
            font-size: 50px;
            padding:1rem;
           }
    }
       
  }
.input-container{
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
    .search-container {
         flex: 1;
         position: relative;
         
       } 
       .search-container i {
         position: absolute;
         top: 50%;
         left: 10px;
         transform: translateY(-50%);
         cursor: pointer;
       }
       .search-container input {
         width: -webkit-fill-available;
         padding-left: 30px;
         height: 40px; 
         border: 1px solid rgb(196, 196, 196);
         border-radius: 10px;
       }
       .filter-inputs{
        display: flex;
        width: 100%;
        gap: 0.2rem;
        flex: 1;
       
        .filter-container{
            input{
                width: 20rem;
                padding-left: 30px;
                height: 40px; 
                border: 1px solid rgb(196, 196, 196);
                border-radius: 10px;
            }
          
        }
       }
}
  

  .cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(7, 1fr); 
    gap: 10px; 
    width: 100%; 
   margin-top: 1rem; 
    .card-content {
        border: 1px solid #e9e6e6;
        padding: 10px;
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 10px;
        #icon{
            img{
                width: 10rem;
            }
        }
        .brand-logo{
           position: absolute; 
           top: 1rem;
           right: 1rem;
        }
    }

.showlinks{
   display: flex;
   border: 1px solid;
   border-radius: 10px;
   a{
    text-decoration: none;
    padding: 2rem;
    text-align: center;
   }
   #go-to-link{
    background-color: red;
   }
   #share{
    background-color: green;
   }
  b{
   color: rgb(255, 255, 255);
   font-size: 24px;
   }
   }
}
  .container{ 
    nav{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
  }
 
 footer{
    background-color: rgb(197, 197, 197);
    padding: 2rem;
    text-align: center;  
 } 